.common-user-card {
    border: 1px solid silver;
    height: 200px;
    width: 160px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgba(124,124,128,1) 0%, rgb(189, 238, 247) 100%);
  }
  
  .card-button {
      width: 177px;
      height: 34px;
      background-color: #2f2929;
      border-radius: 10px;
  }