.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  color:rgb(50, 99, 116);
  font-size: 30px;
  border: 1px solid silver;
  background: linear-gradient(0deg, rgba(124,124,128,1) 0%, rgba(235,252,255,1) 100%);
 }